.card-text{
    text-align: center;
}
.card-title{
    text-align: center;
}
.btn-primary{
    width: 100%;
    margin-top: 2px;
    background-color: #84c09a;
    border: none;
}
.logo{
    width: 280px !important;
    margin-top: 20px !important;
}
.navbar{
    background-color: #c5d5cb !important;
}
.fa-shopping-cart,.fa-user{
    font-size: 25px !important;
}
.nav-link{
    font-weight: bold;
}
.collection{
    text-align: center;
    color: gray;
    margin-top: 30px;
}
.footer{
    background-color: #84c09a;
    height: 100px;
}
h6 {
   margin-top: 150px;
   text-align: center;
   color: black;
   font-size: 20px;
   font-family: Montserrat;
   padding: 40px;
}
.btn-primary:hover{
    background-color: #8da897;
}
#myBtn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 15%;
    left: 85%;
    max-width: 40px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: .5px;
    border-radius: 4px;

}
#myBtn:hover {
    background-color: #7dbbf1;
}